<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Justin Hutsell</h1>
            <hr>
            <h3>Full Stack Software Developer</h3>
            <br/>
            <a href="https://docs.google.com/document/d/1Z3RqXegeFXaQ0YI8J0fnB72kcMRDoDpiHG2origJlGA/" target="_blank" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-file fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/>Resume</a>
            <br/><br/>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-user fa-3x wow bounceIn" data-wow-delay=".1s"></i><br/>Bio</a>
        </div>
    </div>
</header>
