<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class=" col-md-6">
                <a href="https://github.com/JHutsell/HogBoard-Rails-App" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/hogboard.png" class="img-responsive" alt="HogBoard">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- <a href="https://www.youtube.com/watch?v=se0Y02fBpu8&t=1s">Video Demo</a> -->
                                Ruby on Rails
                            </div>
                            <div class="project-name">
                                HogBoard
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-md-6">
                <a href="https://github.com/JHutsell/myStocks" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Stocks.png" class="img-responsive" alt="myStocks">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- <a href="https://www.youtube.com/watch?v=J4YsvCLesns">Video Demo</a> -->
                                vanilla JavaScript & Ruby on Rails
                            </div>
                            <div class="project-name">
                                myStocks
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-md-6">
                <a href="https://github.com/JHutsell/foodie-frontend" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/foodie.png" class="img-responsive" alt="Foodie">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- <a href="https://www.youtube.com/watch?v=LiiPKq4qTFA&t=14s">Video Demo</a> -->
                                React & Ruby on Rails
                            </div>
                            <div class="project-name">
                                Foodie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-md-6">
                <a href="https://github.com/JHutsell/spootify-frontend" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/spootify2.png" class="img-responsive" alt="Spootify">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                <!-- <a href="https://www.youtube.com/watch?v=WiikFoSlydw&t=4s">Video Demo</a> -->
                                React & Ruby on Rails
                            </div>
                            <div class="project-name">
                                Spootify
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
