<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technical Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary"><img class="skill-image" src="img/portfolio/css-icon.svg" /></i>
                    <h3>CSS</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".1s"><img class="skill-image" src="img/portfolio/git-icon.png" /></i>
                    <h3>Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".2s"><img class="skill-image" src="img/portfolio/html-icon.svg" /></i>
                    <h3>HTML</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".3s"><img class="skill-image" src="img/portfolio/java-icon.jpeg" /></i>
                    <h3>Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".4s"><img class="skill-image" src="img/portfolio/js-icon.png" /></i>
                    <h3>JavaScript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".5s"><img class="skill-image" src="img/portfolio/postgresql-icon.png" /></i>
                    <h3>PostgreSQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".6s"><img class="skill-image" src="img/portfolio/rails-icon.png" /></i>
                    <h3>Ruby on Rails</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".7s"><img class="skill-image" src="img/portfolio/react-icon.png" /></i>
                    <h3>React</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".8s"><img class="skill-image" src="img/portfolio/ruby-icon.png" /></i>
                    <h3>Ruby</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x wow bounceIn text-primary" data-wow-delay=".9s"><img class="skill-image" src="img/portfolio/sqlite-icon.png" /></i>
                    <h3>SQLite</h3>
                </div>
            </div>








        </div>
    </div>
</section>
